* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #41e2ba;
    transition: background-color 300ms ease-in-out;
    line-height: 1.5;
}

.App {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

button {
    cursor: pointer;
}

.working {
    background: #ef5d50;
}

.hidden {
    display: none;
}

.pomodoro {
    background: #fff;
    margin: 50px 20px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.pomodoro h2 {
    font-size: 24px;
    text-align: center;
}

.pomodoro .timer {
    font-size: 6rem;
    text-align: center;
}

.pomodoro button {
    background: #41e2ba;
    border: none;
    padding: 10px 25px;
    color: #000;
    transition: background-color 300ms ease-in-out;
    margin: 20px auto;
}

.working .pomodoro button {
    background: #ef5d50;
    color: #fff;
}

.pomodoro .controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pomodoro .details {
    margin: 20px 0;
}
